.lecon
{
  font-size: 45px;
  font-family:arial ;
  font-weight: bold ;
  margin-left: 10px;

}
.List
{
  list-style: none;
 
}
.lp
{
  text-decoration: none;
  color: green;
  
}
.ld
{
  text-decoration: none;
  color: green;
  
}
.lt{
  text-decoration: none;
  color: green;
  
}
.lq
{
  text-decoration: none;
  color: green;
  
}
.lc
{
  text-decoration: none;
  color: green;
  
}





